<!DOCTYPE html>
<html>
<head>
  <title>localondon</title>
  <style type="text/css">
    html {
      margin: 10px 0;
      padding: 0;
    }
    body {
      background: url('http://localondon.herokuapp.com/bergcloud/small_bunting_down.png') 0 100% no-repeat #ffffff;
      font-family:"Signika", sans-serif;
      font-size: 10px;
      line-height: 1.4;
      margin: 0;
      padding: 30px 0 10px 0;
      width: 384px;
    }
    h1, h2, h3 {
      font-weight: normal;
    }
    p {
      font-size: 22px;
      margin: 6px 0;
    }
    article img {
      width: 100%;
    }
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    ol li {
      margin-bottom: 56px;
      position: relative;
    }
    ol li:before {
      font-size: 22px;
      font-weight: 600;
      background: url('http://localondon.herokuapp.com/bergcloud/localondon-black-40-aa.png') no-repeat 0 0;
      color: white;
      padding: 6px 15px;
      position: absolute;
      top: -17px;
      left: 0;
    }

    .opening-this-week ol li {
      counter-increment: opening-event;
    }
    .opening-this-week ol li:before {
      content: counter(opening-event);
    }

    .closing-soon ol li {
      counter-increment: closing-event;
    }
    .closing-soon ol li:before {
      content: counter(closing-event);
    }

    h1.app-title {
      /*background: url('http://localondon.herokuapp.com/bergcloud/localondon-black-40.png') no-repeat 0 0;*/
      font-size: 24px;
      line-height: 24px;
      margin: 8px 0 32px 0;
      /*padding: 8px 0 8px 50px;*/
      text-align: center;
    }
    h1.app-title img {
      margin-top: -2px;
      margin-right: 8px;
      vertical-align: middle;
    }

    h1.opening-closing {
      font-size: 24px;
      margin-top: 16px;
      margin-bottom: 16px;
      text-align: center;
    }

    h1.event-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 1.2;
      margin-top: 8px;
      margin-bottom: 0px;
    }

    h2.event-dates {
      font-size: 18px;
      margin-top: 4px;
      margin-bottom: 12px;
    }

    .event-description {
      font-size: 22px;
      margin-bottom: 16px;
    }

    .venue {
      margin-bottom: 16px;
    }

    .venue p {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .venue-map {
      margin-top: 16px;
      position: relative;
    }

    .venue-map .map-pin {
      background: url('http://localondon.herokuapp.com/bergcloud/localondon-map-pin.png') 0 0 no-repeat;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -28px;
      margin-left: -21px;
      height: 56px;
      width: 42px;
    }


  </style>
</head>
<body>
 <h1 class="app-title"><img src="http://localondon.herokuapp.com/bergcloud/localondon-black-40-aa.png">localondon</h1>

  <section class="opening-this-week">
    <h1 class="opening-closing">Opening this week</h1>

    <ol>
      <% @opening[0..1].each do |event| %>
      <li>
        <article class="event">
          <% if event.picture and event.picture != '' %>
          <div class="event-image">
            <img src="<%= event.picture %>" class="dither">
          </div>
          <% elsif event.venue.picture and event.venue.picture != '' %>
          <div class="event-image">
            <img src="<%= event.venue.picture %>" class="dither">
          </div>
          <% end %>
          <h1 class="event-title"><%= event.title %></h1>
          <h2 class="event-dates">From <%= event.startdate %> to <%= event.enddate %></h2>
          <p class="event-description"><%= event.description %></p>
          <div class="venue">
            <p class="venue-name"><%= event.venue.name %></p>
            <p class="venue-address"><%= event.venue.address_street_address.strip %>, <%= event.venue.address_zip %></p>
            <p class="venue-phone"><%= event.venue.phone %></p>
            <p class="venue-twitter">@<%= event.venue.twitter %></p>
            <div class="venue-map">
              <span class="map-pin"></span>
              <img src="http://localondon.herokuapp.com/maps/<%= event.id %>.png" alt="Map">
            </div>
          </div>
        </article>
      </li>
      <% end %>
    </ol>

  </section>

  <section class="closing-soon">
    <h1 class="opening-closing">Closing soon</h1>
    <ol>
      <% @closing.each do |event| %>
        <li>
          <article class="event">
            <% if event.picture and event.picture != '' %>
            <div class="event-image">
              <img src="<%= event.picture %>" class="dither">
            </div>
            <% elsif event.venue.picture and event.venue.picture != '' %>
            <div class="event-image">
              <img src="<%= event.venue.picture %>" class="dither">
            </div>
            <% end %>

            <h1 class="event-title"><%= event.title %></h1>
            <h2 class="event-dates">From <%= event.startdate %> to <%= event.enddate %></h2>
            <p class="event-description"><%= event.description %></p>
            <div class="venue">
              <p class="venue-name"><%= event.venue.name %></p>
              <p class="venue-address"><%= event.venue.address_street_address.strip %>, <%= event.venue.address_zip %></p>
              <p class="venue-phone"><%= event.venue.phone %></p>
              <p class="venue-twitter"><%= event.venue.twitter %></p>
              <div class="venue-map">
                <span class="map-pin"></span>
                <img src="http://localondon.herokuapp.com/maps/<%= event.id %>.png" alt="Map">
              </div>
            </div>
          </article>
        </li>
      <% end %>
    </ol>

  </section>
</body>
</html>